<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1 align='center'>Shorten My Big Ass Link!</h1>
<form align='center' action='/create' method='post'>
	<input type='text' name='URL' placeholder='Gimme that big ass URL'>
	<input type='submit'>
</form>
</body>
</html>